<div class="search-container">
    <mat-form-field class="search-field" appearance="outline" floatLabel="always">
        <mat-label>Search</mat-label>
        <mat-icon matPrefix>search</mat-icon>
        <input
            matInput
            [ngModel]="''"
            (ngModelChange)="searchTerm$.next($event)"
            placeholder="Type to search ..."
        />
    </mat-form-field>
</div>

<app-data-table
    [data]="(filteredItems$ | async) ?? []"
    [columns]="columns"
    [showEdit]="columns[0]?.label !== 'Username'"
    (edit)="editItem($event)"
    (delete)="deleteItem($event)">
</app-data-table>
