<table>
    <thead>
        <tr>
            @for (column of columns; track column) {
                <th>
                    {{ column.label }}
                </th>
            }
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
        @for (item of data; track item) {
            <tr>
                @for (column of columns; track column) {
                    <td>
                        {{ column.value(item) }}
                    </td>
                }
                <td>
                    @if (showEdit) {
                        <button (click)="edit.emit(item)">Edit</button>
                    }
                    <button (click)="delete.emit(item)">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>
