<div class="header-container">
    <h2>Edit Existing Entry</h2>

    <mat-form-field appearance="fill">
        <mat-label>Select type</mat-label>
        <mat-select [value]="selectedView" (selectionChange)="onTypeChange($event.value)">
            <mat-option value="achievements">Achievement</mat-option>
            <mat-option value="userAchievements">User Achievement</mat-option>
        </mat-select>
    </mat-form-field>
</div>

<hr />

@if (!selectedId) {
    <div class="selection-container">
        <div class="search-container">
            <mat-form-field appearance="outline" floatLabel="always">
                <mat-label>Search</mat-label>
                <mat-icon matPrefix>search</mat-icon>
                <input
                    matInput
                    [(ngModel)]="searchQuery"
                    (ngModelChange)="filterItems()"
                    placeholder="Type to search ..."
                />
            </mat-form-field>
        </div>

        <mat-form-field appearance="fill">
            <mat-label>Choose from the list</mat-label>

            <mat-select (selectionChange)="onItemSelect($event.value)">
                @switch (selectedView) {
                    @case ('achievements') {
                        @for (achievement of filteredAchievements; track achievement._id) {
                            <mat-option [value]="achievement._id">
                                [{{ achievement.game }}] - {{ achievement.name }}
                            </mat-option>
                        }
                    }

                    @case ('userAchievements') {
                        @for (userAchievement of filteredUserAchievements; track userAchievement._id) {
                            <mat-option [value]="userAchievement._id">
                                {{ userAchievement.userId.userName }}:
                                [{{ userAchievement.achievementId.game }}] -
                                {{ userAchievement.achievementId.name }}
                            </mat-option>
                        }
                    }
                }
            </mat-select>
        </mat-form-field>
    </div>
}
@else {
    <button mat-raised-button class="selection-button" (click)="onTypeChange(selectedView)">Change Selection</button>

    @switch (selectedView) {
        @case ('achievements') {
            <app-edit-achievement [editId]="selectedId"></app-edit-achievement>
        }
        @case ('userAchievements') {
            <app-edit-user-achievement [editId]="selectedId"></app-edit-user-achievement>
        }
    }
}
