<h2>Data Management</h2>

<mat-form-field appearance="fill">
    <mat-label>Select type</mat-label>
    <mat-select [value]="selectedView" (selectionChange)="onTypeChange($event.value)">
        <mat-option value="achievements">Achievements</mat-option>
        <mat-option value="userAchievements">User achievements</mat-option>
        <mat-option value="users">Users</mat-option>
    </mat-select>
</mat-form-field>

<hr />

@switch (selectedView) {
    @case ('achievements') {
        <app-list-achievements></app-list-achievements>
    }
    @case ('userAchievements') {
        <app-list-user-achievements></app-list-user-achievements>
    }
    @case ('users') {
        <app-list-users></app-list-users>
    }
}
