<h2>Data Management</h2>

<select [value]="selectedView" (change)="onChange($event)">
    <option value="achievements">Achievements</option>
    <option value="users">Users</option>
    <option value="userAchievements">User achievements</option>
</select>

<hr />

@switch (selectedView) {
    @case ('achievements') {
        <app-list-achievements></app-list-achievements>
    }
    @case ('users') {
        <app-list-users></app-list-users>
    }
    @case ('userAchievements') {
        <app-list-user-achievements></app-list-user-achievements>
    }
}
