mat-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    margin: 2rem auto;
    padding: 20px;
    background-color: #1e2021;
}

h2 {
    margin: 0 0 1.5rem 0;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.submit-button {
    display: flex;
    margin: 0 auto;
    font-size: 1.25rem;
}
