<h2>Add New Entry</h2>

<mat-form-field appearance="fill">
    <mat-label>Select type</mat-label>
    <mat-select [value]="selectedView" (selectionChange)="onTypeChange($event.value)">
        <mat-option value="achievements">Achievement</mat-option>
        <mat-option value="userAchievements">User Achievement</mat-option>
    </mat-select>
</mat-form-field>

<hr />

@switch (selectedView) {
    @case ('achievements') {
        <app-add-achievement></app-add-achievement>
    }
    @case ('userAchievements') {
        <app-add-user-achievement></app-add-user-achievement>
    }
}
