/* You can add global styles to this file, and also import other style files */

.snackbar-success {
    background-color: #2e7d32 !important;
    color: white !important;
    border-left: 6px solid #66bb6a;
}

.snackbar-error {
    background-color: #c62828 !important;
    color: white !important;
    border-left: 6px solid #ef5350;
}
