<app-data-form
    [title]="title"
    [submitButtonText]="submitButtonText"
    [formGroup]="dataForm"
    (formSubmit)="onSubmit()">

    <mat-form-field appearance="fill">
        <mat-label>Game</mat-label>
        <input matInput formControlName="game"/>
        @if (dataForm.get('game')?.touched && dataForm.get('game')?.invalid) {
            <mat-error>Required</mat-error>
        }
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Achievement name</mat-label>
        <input matInput formControlName="name"/>
        @if (dataForm.get('name')?.touched && dataForm.get('name')?.invalid) {
            <mat-error>Required</mat-error>
        }
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Condition</mat-label>
        <textarea matInput formControlName="condition"></textarea>
        @if (dataForm.get('condition')?.touched && dataForm.get('condition')?.invalid) {
            <mat-error>Required</mat-error>
        }
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Difficulty</mat-label>
        <mat-select formControlName="difficulty">
            @for (d of difficulties; track d) {
                <mat-option [value]="d">
                    {{ d }}
                </mat-option>
            }
        </mat-select>
    </mat-form-field>
</app-data-form>
