<app-data-form
    [title]="title"
    [submitButtonText]="submitButtonText"
    [formGroup]="dataForm"
    (formSubmit)="onSubmit()">

    <mat-form-field appearance="fill">
        <mat-label>Game</mat-label>
        <input matInput formControlName="game"/>
        <app-form-error [control]="dataForm.get('game')"></app-form-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Achievement name</mat-label>
        <input matInput formControlName="name"/>
        <app-form-error [control]="dataForm.get('name')"></app-form-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Condition</mat-label>
        <textarea matInput formControlName="condition"></textarea>
        <app-form-error [control]="dataForm.get('condition')"></app-form-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Difficulty</mat-label>
        <mat-select formControlName="difficulty">
            @for (d of difficulties; track d) {
                <mat-option [value]="d">
                    {{ d }}
                </mat-option>
            }
        </mat-select>
    </mat-form-field>
</app-data-form>
